# Recommender-system specific
pandas
jupyter
ffmpeg-python
imageio-ffmpeg
scikit-learn
aiohttp
python-dotenv

# Web-App framework
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers



############# Frontend Requirements #############
# node.js
# vite
# react-router-dom
# axios
